body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  font-family: "Poppins", sans-serif;
}

#quote-box {
  width: 500px;
  min-height: 200px;
  background: #f6f6f6;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 4px 10px 2px #000000;

  #quote-text {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #text {
      margin-top: 2rem;
      font-size: 1.5rem;
      font-weight: bold;
      ::before,
      ::after {
        content: '"';
        font-size: 2rem;
      }
    }
    #author {
      font-weight: 1.2rem;
      font-weight: lighter;
      margin-bottom: 1rem;
      text-align: end;
      margin-right: 2rem;
    }
  }
  #quote-actions {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  #quote-box {
    width: 90vw;
  }
}
